* {
    box-sizing: border-box;
}

section {
    margin-inline: 10px;
    margin-bottom: 20px;
}


.label-style {
    font-size: 12px;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-form-items input {
    width: 100px;
}

.section-form-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    background-color: rgba(252, 217, 189, 0.593);
    padding: 10px;
    border-radius: 10px;
}

.form-item {
    display: flex;
    min-width: 150px;
    max-width: 180px;
    gap: 10px;
    justify-content: space-between;
}

/* output */
.output-box {
    border: 1px solid black;
    height: 450px;
    width: auto;
    margin: 10px;
    overflow: auto;

}
.output-title{
    padding-left: 10px;
    text-decoration: underline ;
    text-underline-offset: 2px;
}
.output-file-style {
    display: block;
    text-align: start;
    padding: 10px;
}

